:root {
	--color-black: #000;
	--color-white: #fff;
	--color-grey-20: #33312f;
	--color-grey-40: #605e5c;
	--color-grey-60: #8e918e;
	--color-grey-80: #dfe0df;
	--color-grey-90: #f0f2f0;
	--color-grey-100: #f5f5f5;
	--color-red-30: #940e2f;
	--color-red-40: #bc123c;
	--color-red-50: #e92253;
	--color-brown-30: #664f28;
	--color-brown-40: #92733e;
	--color-brown-50: #ac8c54;
	--color-base-black: #1d1d1b;
	--color-base-white: var(--color-white);
	--color-base-red: var(--color-red-30);
	--color-base-brown: var(--color-brown-50);
	--color-green: #20a243;
}