@font-face {
	src: url('@assets/fonts/RobotoCondensed.ttf') format('truetype');
	font-family: RobotoCondensed;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('@assets/fonts/RobotoCondensed-Light.ttf') format('truetype');
	font-family: RobotoCondensed;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	src: url('@assets/fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-family: RobotoCondensed;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	src: url('@assets/fonts/RotisSerif.ttf') format('truetype');
	font-family: Rotis;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
