@use "../variables" as *;
@use "../abstracts" as *;

.image-hover {
  width: 20rem;
  height: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
    object-position: center;

    &:hover {
      transform: scale(1.15);
    }
  }
}
