/*
 * Basic settings for the whole document
 */

@use '../abstracts' as *;

:root {
	--font-sans: 'RobotoCondensed', arial, sans-serif;
	--font-serif: 'Rotis', serif;
	font-size: 4vw;
	font-family: var(--font-sans);
	font-weight: 400;
	
	@media (width >= 360px) {
		@include font-size('base');
	  }
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-white);
	color: var(--color-base-black);
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden scroll;

	&.no-body-scrolling {
		overflow: hidden;
	}
}

figure {
	margin: 0;
	padding: 0;
}

img,
video {
	display: block;
	line-height: 0;
}

section {
	overflow: clip visible;
}

img,
picture,
video {
	display: block;
	line-height: 0;
	max-width: 100%;
}

picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

a:not([class]):not(.megamenu__wrapper a):not(.footer__section a) { // Megamenu, Footer nicht einbeziehen
	color: var(--color-base-black);
	text-decoration: underline;
	font-weight: inherit;

	@include hover {
		text-decoration: underline;
		color: var(--color-grey-60);
	}
}