/*
 * Basic settings for the whole document
 */

@use '../abstracts' as *;

:root {
	--font-sans: 'RobotoCondensed', arial, sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-weight-thin: 100;
  	--font-weight-regular: 400;
  	--font-weight-bold: 700;

	@include font-size('base');
	font-family: var(--font-inter);
	font-weight: var(--font-weight-regular);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-white);
	color: var(--color-base-black);
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden scroll;

	&.no-body-scrolling {
		overflow: hidden;
	}
}

img,
video {
	display: block;
	line-height: 0;
}

section {
	overflow: clip visible;
}

img,
picture,
video {
	display: block;
	line-height: 0;
	max-width: 100%;
}

picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}