@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use '../abstracts' as *;
@use '../variables' as *;
@use '../functions' as *;

h1,
h2,
h3{
	font-family: var(--font-inter);
	font-weight: var(--font-weight-bold);
}

h2, h3{
	margin-top: var(--space-sm);
}

h1{
	@include font-size('md');

	@include breakpoint-up('lg'){
		@include font-size('lg');
	}
}

h2{
	@include font-size('sm');

	@include breakpoint-up('lg'){
		@include font-size('md');
	}
}

h3{
	@include font-size('base');

	@include breakpoint-up('lg'){
		@include font-size('sm');
	}
}

p {
	@include font-size('xs');
	font-weight: var(--font-weight-thin);

	@include breakpoint-up('lg'){
		@include font-size('base');
	}
}