@use "../functions" as *;
@use "../abstracts" as *;

/* Option mit keyframes bei .animate__rotateX
@keyframes rotateXOnce {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.animate_X {
  .box:hover {
    animation: rotateXOnce 2s ease-out forwards;
  }
}
*/

.animate__rotateX {
  .box {
    transform: rotateX(0deg);

    &:hover {
      transform: rotateX(360deg);
      transition: transform 2s ease-out;
    }
  }
}

.animate__rotateY {
  .box {
    transform: rotateY(0deg);

    &:hover {
      transform: rotateY(360deg);
      transition: transform 2s ease-out;
    }
  }
}

.animate__rotateZ {
  .box {
    transform: rotateZ(0deg);

    &:hover {
      transform: rotateZ(360deg);
      transition: transform 2s ease-out;
    }
  }
}

.animate__scale {
  .box {
    transform: scale(1);

    &:hover {
      transform: scale(1.5);
      transition: transform 1s ease-out;
    }
  }
}

.animate__translate {
  .box {
    transform: translate(0px, 0px);

    &:hover {
      transform: translate(20px, 25px);
      transition: transform 1s ease-out;
    }
  }
}

.animate__skew {
  .box {
    transform: skew(0deg, 0deg);

    &:hover {
      transform: skew(20deg, 25deg);
      transition: transform 1s ease-out;
    }
  }
}

.list-style-position--inside{
  list-style-position: inside;
  padding-left: 0;
}

.list-style-position--outside{
  list-style-position: outside;
  padding-left: 0;
}

dialog{
  padding: var(--space-base);
  position: fixed;
  inset: 0;
  margin: auto;

  &::backdrop{
    background-color: rgba($color: #000, $alpha: 0.5);
  }
}