@use '../functions' as *;
@use '../abstracts' as *;

.button {
	display: inline-flex;
	border: 0;
	align-items: center;
	justify-content: center;
	gap: var(--gap-3xs);
	--btn-h: 3rem;
	--btn-w: fit-content;
	--btn-px: 1.25rem;
	--btn-py: 0.75rem;
	padding: var(--btn-py) var(--btn-px);
	height: var(--btn-h);
	width: var(--btn-w);
	font-weight: 400;
	background-color: var(--color-red-30);
	color: var(--color-white);
	user-select: none;
	cursor: pointer;
	transition: background-color var(--duration) var(--easing);
	@include font-size('sm');

	@include hover {
		background-color: var(--color-base-black);
	}
}

.button--secondary {
	background-color: transparent;
	border: 1px solid var(--color-base-black);
	color: var(--color-base-black);
	transition:
		border-color var(--duration) var(--easing),
		color var(--duration) var(--easing);

	@include hover {
		background-color: transparent;
		color: var(--color-base-red);
		border-color: var(--color-base-red);
	}

	&--red {
		border: 1px solid var(--color-red-30);
		color: var(--color-red-30);
	}
}

.button--secondary--inverted {
	background-color: transparent;
	border: 1px solid var(--color-white);
	color: var(--color-white);
	transition:
		color var(--duration) var(--easing),
		background-color var(--duration) var(--easing);

	@include hover {
		border-color: var(--color-white);
		background-color: var(--color-white);
		color: var(--color-base-red);
	}
}

.button--icon {
	--btn-h: 3.5rem;
	--btn-w: 3.5rem;
	padding: 12px;

	@include breakpoint-up('sm') {
		padding: 0;
		--btn-h: 4.375rem;
		--btn-w: 4.375rem;
	}

	@include breakpoint-up('lg') {
		--btn-h: 6.25rem;
		--btn-w: 6.25rem;
	}
}

.button--icon--small {
	--btn-h: 4.375rem;
	--btn-w: 4.375rem;
}

.button--icon--xs {
	--btn-h: 3.5rem;
	--btn-w: 3.5rem;
	padding: 12px;
}

.button--primary-white {
	background-color: var(--color-white);
	color: var(--color-base-red);

	@include hover {
		background-color: var(--color-base-red);
		color: var(--color-white);
	}
}

.button--tertiary {
	background-color: var(--color-base-red);
	color: var(--color-white);

	@include hover {
		background-color: var(--color-grey-60);
		color: var(--color-base-red);
	}
}

.button--small {
	--btn-h: 2.5rem;
	--btn-px: 1.12rem;
	--btn-py: 0.5rem;
	@include font-size('sm');
}

@media (prefers-reduced-motion: reduce) {
	.button {
		transition: none;
	}
}

.action-button {
	display: flex;
	color: var(--color-red-30);
	background: unset;
	border: unset;
	align-self: center;
	@include font-size('sm');
	font-weight: 700;
	cursor: pointer;
	white-space: nowrap;
}

.button-row {
    display: flex;

    &--centered {
        justify-content: center;
    }
}