@use "../functions" as *;
@use "../abstracts" as *;

.card-container {
  display: flex;
  gap: 10px;
}
.card {
  background-color: rgba(0, 122, 255, 0.1);
  border: 1px solid rgba(0, 122, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  position: relative;
  flex: 1 1 auto;

  code {
    font-family: var(--font-inter);
    font-size: 8px;
    }
}

.card:has(.box) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background: rgb(181, 172, 172);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-btn {
  position: absolute;
  top: 7px;
  right: 27px;
  font-size: 12px;
  padding: 2px 6px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  display: block;
}

.card:hover .copy-btn {
  display: block;
}
