@use '../functions' as *;
@use '../abstracts' as *;

.lightbox {
	position: fixed;
	inset: 0;
	background: rgba(0 0 0 / 80%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--padding-base);
	z-index: 2000;
}

.lightbox__content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.lightbox__slide {
	position: relative;
	max-width: 80vw;
	max-height: 90vh;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.lightbox__slide-inner {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	img,
	video,
	iframe {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		height: auto;
		width: auto;
		border: 0.75rem solid var(--color-white);

		@include breakpoint-up('lg') {
			border: 2.5rem solid var(--color-white);
		}
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

.lightbox__controls {
	position: absolute;
	bottom: 0.75rem;
	left: 0.75rem;
	right: 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.is-hidden {
		display: none;
	}

	@include breakpoint-up('lg') {
		bottom: 50%;
		transform: translateY(50%);
	}
}

.lightbox__navigation {
	cursor: pointer;
	position: relative;
	z-index: 10;
	background-color: transparent;
	border: 0;
	padding: 0;
	color: var(--color-white);
	width: 2.5rem;
	height: 2.5rem;
	transition: all var(--duration) var(--easing);

	@include hover {
		color: var(--color-base-red);
	}

	@include breakpoint-up('lg') {
		width: 6.25rem;
		height: 6.25rem;
	}
}

.lightbox__close {
	padding: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0.75rem;
	right: 0.75rem;
	background: none;
	border: 0;
	color: var(--color-white);
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	transition: all var(--duration) var(--easing);

	@include hover {
		color: var(--color-base-red);
	}

	@include breakpoint-up('lg') {
		width: 6.25rem;
		height: 6.25rem;
	}
}

.lightbox__title {
	position: absolute;
	top: 24px;
	left: 2rem;
	width: 100%;
	text-align: center;
	color: var(--color-gray-90);
}
