$font-sizes: (
	//Key.   //size in px.  //line height in px
    '4xl': ( 120,           120),
	'3xl': ( 73,            87),
	'2xl': (60,             62),
	'xl': (45,              59),
	'lg': (35,              45.5),
	'md': (24,              30),
	'sm': (20,              22),
	'base': (16,            24.4),
	'xs': (12,              24.4),
    'xxs': (8,              24.4),
);