:root {
  --space-4xl: 4rem;    // 64px
  --space-3xl: 2.25rem;  // 36px
  --space-2xl: 2rem;     // 32px
  --space-xl: 1.5rem;   // 24px
  --space-lg: 1.25rem;   // 20px
  --space-base: 1rem; // 16px
  --space-sm: 0.75rem; // 12px
  --space-xs: 0.625rem; // 10px
  --space-2xs: 0.5rem; // 8px
  --space-3xs: 0.25rem; // 4px
}